## artifact jars out folder
out/

## intellij folder
.idea/

## config files should not be touched
gmail.properties
oanda.properties
smtp.properties

## log files
*.txt

## smart copy props
smartcopy.properties

## reverse copy props
reverse.properties

## actual jar file
c2-oanda-bridge.jar
