## artifact jars out folder
out/

## intellij folder
.idea/

## config files should not be touched
gmail.properties
oanda.properties
smtp.properties

## log files
*.txt

## smart copy records and log
smartcopy_log.txt
smartcopy.properties

## actual jar file
c2-oanda-bridge.jar
